<nav id="header">
   <div class="w-full flex items-center justify-between mt-0 px-6 py-2">
      <div class="md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
         <nav>
            <ul
               class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 list-none">
               <li><a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400 item-menu"
                     href="/">主页</a></li>
               {{ range $index, $Navbar := .Navbars }}
               <li><a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400 item-menu"
                     href="/category/{{.Id}}/{{.Name}}">{{.Name}}</a></li>
               {{ end }}
               <li><a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400 item-menu"
                  href="/tags">Tags</a></li>
               {{ if .About }}
               <li><a class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400 item-menu"
                     href="/about">About</a></li>
               {{ end }}
            </ul>

         </nav>
      </div>

   </div>
</nav>