<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>


    <!-- Page Container -->
    <div class="flex items-center justify-center min-h-screen bg-white py-48">
        <div class="flex flex-col">
            <!-- Error Container -->
            {{ if .Message }}
            <div class="flex flex-col items-center">
                <div class="font-bold text-3xl xl:text-7xl lg:text-6xl md:text-5xl mt-10">
                    {{ .Message }}
                </div>
            </div>
            {{ end }}

            <div class="flex flex-col mt-18 justify-center">
                <div class="text-gray-400 font-bold uppercase">
                    Continue With
                </div>

                <div class="flex flex-col items-stretch mt-5">
                    <div class="flex flex-row group px-4 py-8
                    border-t hover:cursor-pointer
                    transition-all duration-200 delay-100">

                        <div class="grow flex flex-col pl-5 pt-2">
                            <div class="font-bold text-sm md:text-lg lg:text-xl group-hover:underline">
                                <a href="/">主页</a>
                            </div>
                            <div class="font-semibold text-sm md:text-md lg:text-lg
                            text-gray-400 group-hover:text-gray-500
                            transition-all duration-200 delay-100">
                                Everything starts here
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>