<!doctype html>
<html class="h-full antialiased js-focus-visible"
    style="--header-position:sticky; --content-offset:116px; --header-height:180px; --header-mb:-116px; --header-top:0px; --avatar-top:0px; --avatar-image-transform:translate3d(0rem, 0, 0) scale(1); --avatar-border-transform:translate3d(-0.222222rem, 0, 0) scale(1.77778); --avatar-border-opacity:0;"
    data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta property="description" content="tags" />
    <meta property="title" content="Tags" />
</head>

<body class="flex h-full flex-col bg-zinc-50 dark:bg-black justify-between">
    <div class="inset-0 flex justify-center sm:px-8">
        {{template "navbar.html" .}}
    </div>

    <main>
        <div class="sm:px-8 mt-16">
            <div class="mx-auto max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="mx-auto grid max-w-xl grid-cols-1 gap-y-36 lg:max-w-none lg:grid-cols-1">
                            <div class="flex flex-col gap-16">
                                <div class="justify-content-start w-100 mb-4 text-start">
                                    {{ range .Labels }}
                                    <a class="ml-8 bg-green-200 my-2 inline-block rounded-full px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-teal-500 shadow-md transition duration-150 ease-in-out hover:bg-green-300 hover:shadow-lg focus:bg-green-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-400 active:shadow-lg dark:bg-green-600 dark:text-teal-200 dark:hover:bg-green-500 dark:focus:bg-green-500 dark:active:bg-green-400"
                                        href="/search?label={{.Name}}"> #{{.Name}} </a>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {{template "footer.html"}}
</body>

</html>