<!DOCTYPE html>
<html class="h-full antialiased" lang="en">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ .Title }}</title>
    <meta name="description" content="{{  .BodyText | previewContent}}" />
    <script src="/js/tailwindcss.js"></script>
</head>

<body class="flex h-full flex-col bg-zinc-50 dark:bg-black">
    <div id="__next">
        <div class="fixed inset-0 flex justify-center sm:px-8">
            <div class="flex w-full max-w-7xl lg:px-8">
                <div class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"></div>
            </div>
        </div>
        <div class="relative">
            <div class="fixed inset-0 flex justify-center sm:px-8">
                <div class="relative">
                    {{template "navbar.html"}}
                </div>
            </div>
            <main>
                <div class="sm:px-8 mt-16 lg:mt-32">
                    <div class="mx-auto max-w-7xl lg:px-8">
                        <div class="relative px-4 sm:px-8 lg:px-12">
                            <div class="mx-auto max-w-2xl lg:max-w-5xl">
                                <div class="xl:relative">
                                    <div class="mx-auto max-w-2xl">
                                        <article>
                                            <header class="flex flex-col">
                                                <h1
                                                    class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
                                                    {{ .Title }}</h1>
                                                <div class="flex w-full items-center justify-between pb-3 mt-6">
                                                    <div class="flex items-center space-x-3">
                                                        <div class="text-xs text-neutral-500">
                                                            {{ .CreatedAt | formatDate }}</div>
                                                    </div>
                                                    <div class="flex items-center space-x-8">
                                                        {{range .Lables.Nodes}}
                                                        <span
                                                            class="ml-4 text-xs inline-flex items-center leading-sm uppercase px-3 py-1 bg-green-200 text-teal-500 rounded-full">
                                                            #{{.Name}}
                                                        </span>

                                                        {{end}}
                                                    </div>
                                                </div>
                                            </header>
                                            <div class="mt-8">
                                                <div
                                                    class="d-block color-fg-default comment-body markdown-body js-comment-body">
                                                    {{ .BodyHTML }}
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            {{template "footer.html"}}
        </div>
    </div>
    <link rel="stylesheet" href="/css/color-modes.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/css/base.css">
</body>

</html>